.well {
  margin-bottom: 5px;
}
.task-list {
  width: 320px;
  margin-right: 20px;
  cursor: pointer;
  display:inline-block;
  *display:inline;
  *zoom:1;
  vertical-align:top;
  margin-bottom: 66px;
}

.justwrapit {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.wrapper {
  background:#EFEFEF;
  margin: auto;
  text-align: center;
  position: relative;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 20px !important;
  width: 800px;
  padding-top: 5px;
}

.scrolls {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  height: auto;
}
